NODE_ENV=

TOKEN_SECRET=
ACC_EXPIRED_IN=
REF_EXPIRED_IN=

SERVER_HOST=
ORIGIN_URL=

HTTP_PORT=
HTTPS_PORT=

DIALECT=

LOCAL_USER=
LOCAL_PASSWORD=
LOCAL_NAME=
LOCAL_HOST=
LOCAL_PORT=

RDS_USER=
RDS_PASSWORD=
RDS_NAME=
RDS_HOST=
RDS_PORT=

TEST_USER=
TEST_PASSWORD=
TEST_NAME=
TEST_HOST=
TEST_PORT=
